.order_details{
    display:none;
}

/*
#tp-form-tph{
	border:1px solid #000;
}
*/


#tp-form-tph input, #tp-form-tph select {
	display: inline-block;
	height: 40px;
}

.tp-modal-class {

}
.tp-modal-content {

}

/*
#tp-bt-wrapper{
	margin:0px 0px 0px 9px;
}
*/
/*
.tp-button{
	margin:2px 4px 2px 3px;
	padding: 5px 8px 6px 8px;
}
*/
#tp-logo{
	background-image: url("images/logo.png");
	background-repeat: no-repeat;
	height:40px;
	width:110px;
	margin: 12px 0 4px 14px;
}
/*
#tp-content-form{
	padding: 11px 0;
	width:300px;
	margin: -2px 0 0;
}
*/
#tp-content-form .dateFields input{
	width:45%;
}
#tp-content-form #codigoSeguridadTxt{

}
.tp-spacer{
	/*margin:14px -5px 0 9px;*/
	float: center;
}
/*
.left{
	float:left;
}
*/
.tp-right{
	float: right;
}
/*
.clear{
	clear:both;
}
*/

.tp-label{
	font-style: italic;
}

#mesCbx {
    width: 48%;
    float: left;
}

#anioCbx {
    width: 48%;
    float: right;
}

#peiLbl {
    color: inherit;
}

#peiCbx {
        display:block;
	vertical-align: top;
	margin-top: 20px;
}

#peiLbl {
    color: inherit;
}

#peiCbx {
        display:block;
	vertical-align: top;
	margin-top: 20px;
}

label{
    color:red;
}

.hidden-element{
    opacity: 0;
}